<%= form_with(model: [current_user,@course,task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :titulo %>
    <%= form.text_field :titulo %>
  </div>

  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>

  <div class="field">
    <%= form.label :video %>
    <%= form.file_field :video %>
  </div>
  
  <div class="field">
    <%= form.label :documents %>
    <%= form.file_field(:documents, multiple: true)%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
