<div class="container form-style">
<%= form_with(model: [current_user,@course,task], local: true) do |form| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <br>
  <div class="field">
    <span>
    <%= form.label :titulo %>
    <%= form.text_field :titulo %></span>
  </div>
  <br>
  <div class="field">
    <%= form.label :descripcion %>
    <%= form.text_area :descripcion %>
  </div>
  <br>
  <div class="field">
    <%= form.label :video %>
    <%= form.file_field :video %>
  </div>
  <br>
  <div class="field">
    <span>
    <%= form.label :documentos %>
    <%= form.file_field(:documents, multiple: true)%> </span>
  </div>
  <br>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
</div>