<p id="notice"><%= notice %></p>

<h1 align="center"><u> <%= @task.titulo %> </u></h1>

<p>
  <h3><u><strong>OBJETIVOS DE LA ACTIVIDAD:</u></strong> <%= @task.descripcion %> </h3> 
</p>

<%= link_to 'Editar', edit_user_course_task_path(@user,@course,@task) %> |
<%= link_to 'Volver al curso', user_course_path(current_user,@course) %>
