<p id="notice"><%= notice %></p>

<h1 align="center"><u> <%= @task.titulo %> </u></h1>
<br>
<p><h3><u><strong>DESCRIPCIÓN DE LA ACTIVIDAD:</strong></u> <%= @task.descripcion %></h3></p>
<br>

<% if @task.video.attached? %>
	<div class="container" align="center">
  		<%= video_tag(url_for(@task.video), size: "600x400", :controls => true) %>
	</div>
<% end %>
<br>

<% if @task.documents.attached? %>
	<div class="container actividades">
		<h4> Actividades para descargar </h4>
		<% @task.documents.each do |document| %>
    		<li class="list-group-item list-group-item-primary"> <%= link_to(document.blob.filename, rails_blob_path(document, disposition: 'attachment')) %> </li>
  		<% end %>
    <br>
	</div>
<% end %>
<br>

<div class="container foro">
	<h4> Foro de preguntas: </h4>
	  <div class="container">
		<% if !@task.questions.empty? %>
			<% @task.questions.each do |q| %>
    			<div class="question">
    				<p><strong> <%= q.user.name%> </strong> consulta:</p>
    				<p><%= q.text %></p>
    				<div>
    				<span><%= q.created_at %></span>
    				<% if current_user.id == q.user.id %>
    					<span><%= link_to 'Eliminar consulta', user_course_task_question_path(@user,@course,@task,q), method: :delete, data: { confirm: 'Are you sure?' } %></span>
    				<% end %>
    			    </div>
    			</div>
    			<% if !q.answer.nil? %>
    				<div class="answer" align="left">
    					<p><strong> <%= q.answer.user.name %></strong>:</p>
    					<p><%= q.answer.text %></p>
    					<div>
    						<span><%= q.answer.created_at %></span>
    						<% if current_user.id == q.answer.user.id %>
    							<span><%= link_to 'Eliminar respuesta', user_course_task_question_answer_path(@user,@course,@task,q,q.answer), method: :delete, data: { confirm: 'Are you sure?' } %></span>
    						<% end %>
    			    	</div>
    				</div>
    				<br>
    				<br>
    				<br>
    				<br>
    			<% else %>
    			  <% if current_user.id == @course.owner.id %>
    				<br>
    				<div class="container" align="center">
						<p>Escribí acá la respuesta:</p>
						<%= form_with url: user_course_task_question_answerquestion_path(@user,@course,@task,q), id: "form#{q.id}", method: :patch do |form| %>
						  <div class="field">
    						<%= form.text_area(:answer) %>
  						  </div>
  						  <br>
						  <%= content_tag :button, :type => :submit, class: 'btn btn-success' do %> Enviar respuesta <%end%>
						<% end %>
					</div>
				  <% end %>
    			<% end %>
    			<br>
  			<% end %>
  		<% else %>
  			<div align="center"><p>Todavía no hay ninguna pregunta para esta actividad.</p></div>
  		<% end %>
  	  </div>
  <br>
</div>
<br>

<% if !(current_user.id == @course.owner.id) %>
<div class="container" align="center">
<p>Escribí acá tu consulta:</p>
<%= form_tag user_course_task_makequestion_path(@user,@course,@task), method: :patch %>
	<div class="field">
    	<%= text_area_tag( "text_question", nil, class: 'txt') %>
  	</div>
  	<br>
<%= content_tag :button, :type => :submit, class: 'btn btn-success' do %>
    Enviar pregunta
<%end%>
</div>
<% end %>
<br>

<div class="container" align="center">
<% if can? :manage, Task %>
  <%= link_to 'Editar', edit_user_course_task_path(@user,@course,@task) %> | 
  <%= link_to 'Eliminar tarea', user_course_task_path(@user,@course,@task), method: :delete, data: { confirm: 'Seguro que querés eliminar?' } %> |
<% end %>
<%= link_to 'Volver al curso', user_course_path(current_user,@course) %>
</div>