<p id="notice"><%= notice %></p>

<p>
  <strong>Titulo:</strong>
  <%= @task.titulo %>
</p>

<p>
  <strong>Descripcion:</strong>
  <%= @task.descripcion %>
</p>

<%= link_to 'Edit', edit_user_course_task_path(@user,@course,@task) %> |
<%= link_to 'Back', user_course_path %>
