<p id="notice"><%= notice %></p>

<h1 align="center">TODOS LOS USUARIOS REGISTRADOS</h1>
<br>
<div class="search-container search">
  <%= form_tag(users_path, method: :get) do %>
    <%= label_tag(:search, "Buscar usuario:") %>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag("Buscar") %>
  <% end %>
</div>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<br>
<table class="table table-bordered style">
  <thead>
    <tr>
      <th class="bg-info text-white" text-align="center">Nombre</th>
      <th class="bg-info text-white">Apellido</th>
      <th class="bg-info text-white">Fecha de nacimiento</th>
      <th class="bg-info text-white">DNI</th>
      <th class="bg-info text-white">Email</th>
      <th class="bg-info text-white">Rol</th>
      <th class="bg-info text-white">Mas informacion</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.birthday %></td>
        <td><%= user.dni %></td>
        <td><%= user.email %></td>
        <% user.roles.each do |r| %>
          <td><%= r.name %></td>
        <% end %>
        <td><%= link_to 'Ver detalle', user %> | <%= link_to 'Editar', edit_user_path(user) %> | <%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div align="center"><%= link_to 'Ver todos los usuarios', users_path %> </div>