
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @user.dni %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @user.birthday %>
</p>

<p>
 	<strong>Roles:</strong>
 	<ul>
 		<% for role in @user.roles %>
 			<li> <%= role.name %> </li>
 		<% end %>
 	</ul>
</p>

<%= link_to 'Editar', edit_user_path(@user) %> |
<% if @user.has_role?(:teacher) %>
	<%= link_to 'Atras', teachers_users_path %>
<% elsif @user.has_role?(:student) %>
	<%= link_to 'Ir al listado de alumnos', students_users_path %>
<% end %>