<p id="notice"><%= notice %></p>

<h1 align="center">DOCENTES</h1>
<br>
<table class="table table-bordered style">
  <thead>
    <tr>
      <th class="bg-info text-white">Nombre</th>
      <th class="bg-info text-white">Apellido</th>
      <th class="bg-info text-white">Fecha de nacimiento</th>
      <th class="bg-info text-white">DNI</th>
      <th class="bg-info text-white">Email</th>
      <th class="bg-info text-white">Mas informacion</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.surname %></td>
        <td><%= user.birthday %></td>
        <td><%= user.dni %></td>
        <td><%= user.email %></td>
        <td><%= link_to 'Ver detalle', user %> | <%= link_to 'Editar', edit_user_path(user) %> | <%= link_to 'Eliminar', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>