<p id="notice"><%= notice %></p>

<h1 align="center">ALUMNOS PARA INSCRIBIR </h1>

<% flash.each do |type, msg| %>
  <div class="alert alert-info">
    <%= msg %>
  </div>
<% end %>

<br>

<%= form_tag user_course_updatepupils_path, method: :patch %>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="bg-info text-white" text-align="center">Nombre</th>
      <th class="bg-info text-white">Apellido</th>
      <th class="bg-info text-white">Fecha de nacimiento</th>
      <th class="bg-info text-white">DNI</th>
      <th class="bg-info text-white">Email</th>
      <th class="bg-info text-white">Agregar</th>
    </tr>
  </thead>

  <tbody>
    <% if !@pupils.empty? %>
    <% @pupils.each do |pupil| %>
      <tr>
        <td><%= pupil.name %></td>
        <td><%= pupil.surname %></td>
        <td><%= pupil.birthday %></td>
        <td><%= pupil.dni %></td>
        <td><%= pupil.email %></td>
        <td><%=check_box_tag "selected_pupils[]", pupil.id, nil %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<div align="center">
  <%= content_tag :button, :type => :submit, class: 'btn btn-success' do %>
    Agregar
  <%end%> |
  <%= link_to 'Volver al curso', user_course_pupils_path(current_user,@course)%>
</div>
