<p id="notice"><%= notice %></p>

<h1 align="center">CURSOS</h1>
<br>
<table class="table table-bordered style">
  <thead>
    <tr>
      <th class="bg-info text-white" text-align="center">Nombre del curso</th>
      <th class="bg-info text-white">Descripcion</th>
      <th class="bg-info text-white">Docente cargo</th>
      <th class="bg-info text-white">Opciones</th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <% if can? :index, course %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.descripcion %></td>
        <td><%= course.owner.name + ' ' + course.owner.surname %></td>
        <td><%= link_to 'Entrar al curso', user_course_path(@user,course) %> 
          <% if can? :manage, Course %> | <%= link_to 'Editar información del curso', edit_user_course_path(@user,course) %> | <%= link_to 'Eliminar curso', user_course_path(@user,course), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
          <% end %>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, Course %>
<div align="center"><%= link_to 'Crear un nuevo curso', new_user_course_path(current_user) %></div>
<% end %>