<p id="notice"><%= notice %></p>

<h1 align="center">CURSOS</h1>

<table>
  <thead>
    <tr>
      <th>Nombre del curso</th>
      <th>Descripción</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.descripcion %></td>
        <td><%= link_to 'Entrar al curso', user_course_path(@user,course) %></td>
        <td>|</td>
        <td><%= link_to 'Editar información del curso', edit_user_course_path(@user,course) %></td>
        <td>|</td>
        <td><%= link_to 'Eliminar curso', user_course_path(@user,course), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Crear un nuevo curso', new_user_course_path(current_user) %>
