<p id="notice"><%= notice %></p>

<div align="center"><h1> <%= @course.name %> </h1></div>

<div align="center"><h2> <%= @course.descripcion %> </h2></div>

<div class="list-group">
  <h3>ACTIVIDADES</h3>
  <% @course.tasks.each do |task| %>
    <li class="list-group-item list-group-item-primary"> <%= link_to task.titulo, user_course_task_path(current_user,@course,task) %> </li>
  <% end %>
</div>

<br>

<div class="container" align="center">
<%= link_to 'Crear nueva actividad', new_user_course_task_path(current_user,@course) %> |
<%= link_to 'Ver alumnos inscriptos', user_course_pupils_path(current_user,@course) %> |
<%= link_to 'Editar información del curso', edit_user_course_path(@course) %> |
<%= link_to 'Volver atrás', :back %>
</div>
