<!DOCTYPE html>
<html>
  <head>
    <title>Clasesweb</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
      <% if user_signed_in? %>
        <span> <%= link_to "TTPS-Ruby", root_path %> </span>
        <div class="container">
          <% if can? :manage, User %>
            <span> <%= link_to "Administrar alumnos", students_users_path %> </span>
            <span> <%= link_to "Administrar docentes", teachers_users_path %> </span>
          <% end %>
          <% if can? :manage, Course %>
            <span> <%= link_to "Administrar cursos", user_courses_path(current_user) %> </span>
          <% end %>
          <span> <%= link_to "Logout", destroy_user_session_path, method: :delete %> </span>
        </div>
      <% else %>
        <div align="center">
          <h2>Taller de tecnologias de produccion de Software - Ruby</h2>
        </div>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
